# Have a look to https://github.com/asciimoo/searx/blob/master/requirements.txt for each upgrade of Searx
certifi==2017.11.5
flask==1.0.2
flask-babel==0.11.2
# lxml==4.2.3
idna==2.7
pygments==2.1.3
pyopenssl==18.0.0
python-dateutil==2.7.3
pyyaml==3.13
requests[socks]==2.19.1

# Additionnals requirements
markupsafe>=0.23
ndg-httpsclient>=0.4.2
pyasn1>=0.1.9
pyasn1-modules>=0.0.8
cffi>=1.6
